// Makes it possible to style the tag input div element similarly to normal
// inputs.
//
// Make sure you include this AFTER `@import "decidim/application";`, otherwise
// the mixin won't be available.
@import "tom-select/dist/scss/tom-select";

