<%= hidden_field_tag :taggable_id, form.object.taggable_id %>

<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column hashtags__container pb-4">
      <%= form.translated :text_field, :name %>
    </div>
  </div>
</div>
